body,
html {
  margin: 0;
  padding: 0;
  list-style: none;
}

h3,
p,
span {
  margin: 0;
  padding: 0;
}

.detail-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.detail-container .detailVisual-container {
  width: 100%;
  height: 60vh;
  filter: blur(2px);
}
.detail-container .detail-content {
  color: #fff;
  width: 1520px;
  margin: 0 auto;
  background-color: #333;
}
.detail-container .detail-content .detail-detailbox {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
.detail-container .detail-content .detail-detailbox .detail-leftbox {
  width: 28%;
}
.detail-container .detail-content .detail-detailbox .detail-leftbox img {
  width: 100%;
}
.detail-container .detail-content .detail-detailbox .detail-rightbox {
  width: 70%;
}
.detail-container
  .detail-content
  .detail-detailbox
  .detail-rightbox
  .detail-rightmovie {
  font-size: 2rem;
}
.detail-container
  .detail-content
  .detail-detailbox
  .detail-rightbox
  .detail-rightinfo {
  padding-top: 40px;
  font-size: 1.4rem;
}
.detail-container
  .detail-content
  .detail-detailbox
  .detail-rightbox
  .detail-rightstory {
  padding-top: 20px;
  font-size: 1.4rem;
}
.detail-container .detail-content .detail-actorbox {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}
.detail-container .detail-content .detail-actorbox > div {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 30px;
  width: 100%;
}
.detail-container .detail-content .detail-actorbox > div h3 {
  font-size: 2.3rem;
}
.detail-container .detail-content .detail-actorbox > div ul {
  width: 100%;
  height: 240px;
  margin: 30px 0 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.detail-container .detail-content .detail-actorbox > div ul li {
  width: 15vh;
  height: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
  -o-object-fit: cover;
  object-fit: cover;
  font-size: 0.75rem;
}
.detail-container .detail-content .detail-actorbox > div ul li .smallImgbox {
  width: 100%;
  height: 100%;
}
.detail-container
  .detail-content
  .detail-actorbox
  > div
  ul
  li
  .smallImgbox
  img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
  object-fit: cover;
}
.detail-container .detail-content .detail-reviewbox {
  padding-top: 20px;
  width: 100%;
  overflow: hidden;
}
.detail-container .detail-content .detail-reviewbox > div {
  box-sizing: border-box;
  padding: 30px;
  width: 100%;
}
.detail-container .detail-content .detail-reviewbox > div h3 {
  font-size: 2.3rem;
}
.detail-container .detail-content .detail-reviewbox > div > div {
  padding-top: 30px;
}
.detail-container .detail-content .detail-recobox {
  width: 100%;
  overflow: hidden;
}
.detail-container .detail-content .detail-recobox > div {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 30px 30px 80px;
  width: 100%;
}
.detail-container .detail-content .detail-recobox > div h3 {
  font-size: 2.3rem;
}
.detail-container .detail-content .detail-recobox > div ul {
  width: 100%;
  height: 240px;
  margin: 30px 0 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.detail-container .detail-content .detail-recobox > div ul li {
  width: 15vh;
  height: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
  -o-object-fit: cover;
  object-fit: cover;
  font-size: 0.75rem;
}
.detail-container .detail-content .detail-recobox > div ul li .smallImgbox {
  width: 100%;
  height: 100%;
}
.detail-container .detail-content .detail-recobox > div ul li .smallImgbox img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
  object-fit: cover;
} /*# sourceMappingURL=Detail.css.map */
